html {
  max-width: initial;

}
#left-nav {
    float: left;
}

#right-nav {
  float: right;
}

body {
  max-width: initial;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

tr:nth-child(even) {
  background-color: #efefef;
}
