[Unit]
Description=FastForward Server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fastforward

[Install]
WantedBy=multi-user.target
